{% extends "notes/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'style/registration.css' %}">
{% endblock %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

  </div>
       {% if registered  %}
          <h2>thank you for registering!</h2>
          {% else %}
          <div class = "register">
          <h1>Registration Form</h1>
        </div>
        <div class = "form">
          <h3>fill out the form below</h3>

          <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" name="" value="Register">
          </form>
        </div>
       {% endif %}
</div>




{% endblock %}
