{% load static %}

.container{
  background-color: grey;
  padding:0;
  margin: 0;
  width: 100%;
  padding-bottom: 30px;
}
.register{
  text-align: center;
  font-size: 24px;
}
.form{
  padding-left: 40px;
}
